.container{
    display: grid;
    height:100vh;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 3fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-areas:
    "leftsidebar main rightsidebar"
    "footer content1 content1"
    "footer content2 content2"
    "footer content3 content3"
    "footer content4 content4"
    "footer content5 content5";
    text-align: center;
}
#content1{
    background-color: yellow;
    grid-area: content1;
}
#content2{
    background-color: aqua;
    grid-area: content2;
}
#content3{
    background-color: deepskyblue;
    grid-area: content3;
}
#content4{
    background-color: rgb(56, 187, 143);
    grid-area: content4;
}
#content5{
    background-color: rgb(81, 42, 117);
    grid-area: content5;
}
